.menu{
	border:none;
	border:0px;
	margin:0px;
	padding-left:22px;
    font-family: Arial;
    font-size: 18px;
    color: #002248;
	
	}
.menu ul{
    background-color: transparent;
	height:42px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.menu li{
		float:left;
		padding:0px;
		}
	.menu li a{
		background:transparent;
		color:#235621;
		display:block;
		font-weight:normal;
		line-height:41px;
		margin:0px;
		padding:0px 12px;
		text-align:center;
		text-decoration:none;
		}
		.menu li a:hover, .menu ul li:hover a{
			background: #235621;
			color:#FFFFFF;
			text-decoration:none;
			}
	.menu li ul{
		background:#235621;
		display:none;
		height:auto;
		padding:0px;
		margin:0px;
		border:0px;
		position:absolute;
		width:225px;
		z-index:200;
		filter:alpha(opacity=90);
		opacity:0.90;
		
		
	
		/*top:1em;
		/*left:0;*/
		}
	.menu li:hover ul{
		display:block;
		
		}
	.menu li li {
		background:url('pics/sub_sep.gif') bottom left no-repeat;
		display:block;
		float:none;
		margin:0px;
		padding:0px;
		width:225px;
		}
	.menu li:hover li a{
		background:none;
		
		}
	.menu li ul a{
		display:block;
		height:46px;
		font-size:14px;
		font-style:normal;
		font-weight: 700;
		margin:0px;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		.menu li ul a:hover, .menu li ul li:hover a{
			background:#347f31;
			border:0px;
			color:#ffffff;
			text-decoration:none;
			}
	.menu p{
		clear:left;
		}	

		